<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">FBLA Student Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
        <a class="nav-link" href="/">Add Student </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" action='/EditandView' method='POST' href="/EditandView">View and Edit</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="/Analytics">Analytics <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Help Menu <span class="sr-only">(current)</span></a>
        </li>
        
    </ul>
    </div>
    <div class="card border-info mb-3" style="max-width: 40rem;">
        <div class="card-header">Add Student</div>
        <div class="card-body">
          <h4 class="card-title">How to enter student values</h4>
          <p class="card-text">Simply enter in all fields by clicking and entering on the fields. Now
              click the Submit button at he bottom in order to create the table row.
          </p>
        </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 40rem;">
        <div class="card-header">View Students</div>
        <div class="card-body">
          <h4 class="card-title">How to View,Update,and Delete Students</h4>
          <p class="card-text"> Simply view the Students on the tables ,and if you want to delete the row simply 
              click delete. Updating the tables only requires you to click the update button and then a new update 
              screen will appear where Student hours,names,and number can be edited
          </p>
        </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 40rem;">
        <div class="card-header">View Students</div>
        <div class="card-body">
          <h4 class="card-title">How to View,Update,and Delete Students</h4>
          <p class="card-text"> Simply view the Students on the tables ,and if you want to delete the row simply 
              click delete. Updating the tables only requires you to click the update button and then a new update 
              screen will appear where Student hours,names,and number can be edited
          </p>
        </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 40rem;">
        <div class="card-header">Analytics</div>
        <div class="card-body">
          <h4 class="card-title">How to View the Analytics page</h4>
          <p class="card-text"> Simply click on the Analytics link in the navigation bar and statistics
              on CSA awards and monthly and weekly hours will appear.
        </div>
    </div>
</nav>